#conteneur_principal {
	font-family: Arial, sans-serif;
	font-size: 14px;
	position: relative;
}

#application {
	margin-left: 10px;
	margin-right: 10px;
}

.titre_app {
	color: #fff;
	background-color: #5185E0;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 2px solid #1D1D1B;
	border-bottom: 2px solid #1D1D1B;
	margin-bottom: 30px;
	font-size: 24px;
	text-align: center;
	width: 100%;
}

.panel {
	border: 1px solid transparent;
	border-color: #000;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	border-radius: 4px;
}

.titre {
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
   	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    background-color: #1d1d1b;
    border-color: #1d1d1b;
}

#votre_carte, #choix_donnees, #titre {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#champs_carte {
	display: flex;
}

#carte_emprise {
	border: 1px solid #aaa;
	height: 200px;
	width: 300px;
}

#taille_iframe {
	display: flex;
}

#votre_carte, #visualisation_carte {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#conteneur_liste_communes, #conteneur_liste_fonds_plans, #conteneur_liste_site_org {
	margin-bottom: 5px;
}


#label_largeur, #label_hauteur {
	margin-right: 5px;
}

#label_hauteur {
	margin-left: 20px;
}

#visualisation_resultat {
	text-align: center;
}

#conteneur_liste_equipements_techniques, #conteneur_liste_site_org {
	display: flex;
}

#choix_donnees {
	width: 40%;
}

#affichage_url_sviewer {
	padding-bottom: 5px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

footer {
	padding: 10px 10px 0px 10px;
	margin-top: 10px;
    background-color: #1d1d1b;
    border-color: #1d1d1b;
    color: #fff;
}

.conteneur_footer {
	display: flex;
	justify-content: space-between;
}

.conteneur_footer a {
    color: #fff;
    font-size: 16px;
}